.socialMedia {
    width: 100%;
    height: 100px;
    font-size: 13px;
    
    
}

.socialMedia h1 {
    color: #333333;
}

.socialMedia p {
    color: #86878B;
    width: 450px;

}

.media {
    width: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.media-1 {
    width: 55%;
   
}

.social {
    
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.fb {
    height: 30px;
    width: 30px;
    background: url(../images/facebook-logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.fb:hover {
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.insta {
    height: 30px;
    width: 30px;
    background: url(../images/instagram-logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.insta:hover {
    cursor: pointer;
    width: 60px;
    height: 60px;
}


.twitter {
    height: 30px;
    width: 30px;
    background: url(../images/twitter.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.twitter:hover {
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.pinterest {
    height: 30px;
    width: 30px;
    background: url(../images/pinterest.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.pinterest:hover {
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.chromecast {
    height: 30px;
    width: 30px;
    background: url(../images/chromecast.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
    
}

.chromecast:hover {
    cursor: pointer;
    width: 60px;
    height: 60px;
}
   

@media (max-width: 768px){

    .socialMedia {
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       }

     .media {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
     }

     .media-1 {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: start;
        padding: 20px;
     }

     .media-1 p {
        width: 90%;
        
     }



    }